@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
:root {
    --dark-color: #2d2c2c;
    --purple-solid: #350a4f;
    --purple-transparent: rgba(53, 10, 79, 0.7);
    --purple-transparent-navlist: rgba(53, 10, 79, 0.8);

    --purple-transparent-alt: rgba(53, 10, 79, 0.5);
    --purple-light: #8f50fb;
    --yellow-solid: #fa9e2c;
    --gradient-color: linear-gradient(to right, var(--yellow-solid), var(--purple-light));
    --gradient-color-alt: linear-gradient(to right, var(--purple-light), var(--yellow-solid));
}
body {
    font-family: 'Poppins';
    overflow-x: hidden !important;
    overflow-y: scroll;
    max-width: 100vw;
    scroll-behavior: smooth;
}

.loading_screen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #ffffff;
}
.reveal {
    transform: translateY(150px);
    opacity: 0;
    transition: all 1.5s ease;
    z-index: 100;
}
.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

a {
    text-decoration: none;
}

.brand-logo {
    width: 4vw;
}
.brand-logo img {
    height: 100%;
    width: 100%;
}

.container {
    margin: 0 2vw;
}

#header {
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding-bottom: 10vh;
    overflow: hidden;
}

#header {
    background: #2a363f;
}

.particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2a363f;
    z-index: -1;
}

nav {
    padding: 15px 0px;
    display: flex;
    width: 100%;

    justify-content: space-between;
    align-items: center;
}

.fa-times {
    display: none;
}

.nav-collection {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 0px;
}

.nav-item:not(:last-child) {
    margin-right: 5vw;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.5;
    transition: all 0.3s ease-in;
}

.nav-link:hover,
.nav-link.active {
    color: #60b7f6;
    cursor: pointer;
}

.nav-link ~ div {
    height: 0.3vmin;
    width: 3vmin;
    background: white;
    background-position: center;
    margin-left: -100px;
    transition: all 0.3s ease-in;
    visibility: hidden;
    /* display: none; */
}

.nav-link:hover ~ div,
.nav-link.active ~ div {
    visibility: visible;
    background: #60b7f6;
    margin-left: 0px;
}

.header-content {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.my-image-container {
    width: 305px;
    height: 290px;
}

.my-image-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.social-container {
    display: flex;
    max-width: 100%;
    align-items: center;
    gap: 6rem;
}

.social-container i {
    color: #fff;
    font-size: 4rem;
    transition: all 1s;
    cursor: pointer;
}

.social-container i:hover {
    color: #08c096;
}
.header-text {
    line-height: 1;
    color: #f9f4f4;
}

.header-text .firstLine {
    font-style: normal;
    font-size: 90px;
    margin-top: 20px;
    font-weight: 600;
}

.firstLine .coloured {
    color: #08c096;
}

.header-text .secondLine {
    font-style: normal;
    font-weight: 500;
    font-size: 84px;
}

.header-content .buttons a button {
    margin-top: 40px;
    height: 80px;
    width: 300px;
    background: none;
    border: 3px solid white;
    outline: none;
    font-weight: 100;
    font-size: 25px;
    color: white;
    transition: all 0.4s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-content .buttons .arrow-btn div {
    width: 50px;
    height: 20px;
    margin-left: 10px;
    transition: all 0.4s ease-in;
}

.header-content .arrow-btn:hover {
    cursor: pointer;
    background: #60b7f6;
    border: none;
}

.header-content button:hover > div {
    transform: rotate(90deg);
}

.txt-type > .txt {
    border-right: 0.2rem solid #fff;
}

.fa-bars {
    color: white;
    font-size: 30px;
}

.fa-times {
    color: #2a363f;
    font-size: 30px;
}

.hamburger-menu {
    display: none;
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background: #000;
    opacity: 0.4;
    display: none;
}

.hire-btn:hover {
    background: #08c096 !important;
    border: none !important;
    cursor: pointer;
}

.header-content .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-content .buttons :last-child {
    margin-left: 20px;
}

/* -------------------------Specialization---------------------- */
.specializations {
    position: relative;
    width: 100vw;
    background: linear-gradient(to right, #2a363f, #4f5c63, #778488, #a3afb1, #d2dbdb);

    z-index: -2;
}

.specializations .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    z-index: 1;
}
.section-title {
    text-align: center;
    line-height: 1.5;
}

.section-subhead {
    font-weight: 500;
    font-size: 38px;
    color: #08c096;
}

.section-head {
    font-style: normal;
    font-weight: bold;
    font-size: 50px;

    color: #fff;
}

.section-content {
    max-width: 95vw;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 3rem;
    text-align: center;
    padding-bottom: 40px;
}

.section-content .field {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.section-content .field .icon {
    width: 200px;
    background-color: #fff;
    border-radius: 50%;
    padding: 30px;
    height: 200px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #2a363f;
}
.section-content .field .icon div {
    max-width: 50%;
    height: auto;
    display: block !important;
}
.section-content .field .icon i {
    font-size: 6rem;
}

.field-title {
    font-weight: 500;
    font-size: 30px;

    color: #fff;
}
.field-description {
    font-size: 20px;
    color: #fff;
}
.field-content {
    margin-top: 20px;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

/* -----------------------------counter------------------ */
.middle {
    width: 100%;
}
.counting-sec {
    padding: 20px 0;
    min-width: 100%;
    background-image: linear-gradient(to right, #2a363f, #4f5c63, #778488, #a3afb1, #d2dbdb);
    display: flex;
    align-items: center;
}
.inner-width {
    width: 90%;
    display: grid;
    grid-gap: 2rem;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
.col {
    text-align: center;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: larger !important;
}
.col i {
    font-size: 90px;
    color: #fff;
}
.number {
    font-size: 50px;
    margin: 20px 0;
}

/* ---------------------------------About Section---------------------- */
#about {
    background: #d2dbdb;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 2rem 20px 5rem 20px;
}

#about .container {
    max-height: 100%;
}

.about-title {
    margin-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-head {
    font-weight: bold;
    font-size: 30px;
}
.bar {
    height: 3px;
    width: 30px;
    background: #000;
}

.about-content {
    min-width: 100%;
    display: grid;
    height: 100%;
    grid-gap: 3em;

    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

.about-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.about-text-head {
    font-weight: 500;
    font-size: 40px;
}

.green-text {
    color: #08c096;
}
.about-text {
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;

    color: #000000;

    opacity: 0.73;
}

.skillset {
    height: 3.8rem;
    background: #e5e5e5;
    display: flex;
    padding-right: 10px;
    position: relative;
}

.bubble {
    background-color: white;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1), 0 3px 10px rgba(0, 0, 0, 0.1);
    height: 152px;
    margin-right: 20px;
    position: absolute;
    transition: opacity ease-in-out 1s;
    width: 152px;
    overflow: hidden;
    box-sizing: border-box;
}

.bubbleBackground {
    position: absolute;
    inset: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.bubbles {
    overflow: hidden;
    height: 600px;
    width: 48vw;
    position: absolute;
}

.bubbles-wrapper {
    min-height: 600px;
    position: relative;
    background-color: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.skill-1 {
    background-position: -154px 0;
}

.skill-2 {
    background-position: -308px 0;
}

.skill-3 {
    background-position: -462px 0;
}

.about-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-right :not(:last-child) {
    margin-bottom: 20px;
}
.skillname {
    min-height: 100%;

    width: 17%;
    background: #2a363f;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1rem;
    padding: 0 5px;
}

.skill_level {
    background: rgba(42, 54, 63, 0.66);

    min-height: 100%;
}

.skill_level.html {
    width: 0%;
}
.skill_level.css {
    width: 0%;
}
.skill_level.js {
    width: 0%;
}
.skill_level.node {
    width: 0%;
}
.skill_level.react {
    width: 0%;
}
.skill_level.python {
    width: 0%;
}
.skill_level.firebase {
    width: 0%;
}
.skill_level.uiux {
    width: 0%;
}
.skill-percent {
    position: absolute;
    top: 2px;
    right: 10px;
}

.hire-link {
    display: none;
}

/* .................Contact.................. */
.contact {
    width: 100%;
    /* margin-top: 10vh; */
    margin-top: -2 !important;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #2a363f, #4f5c63, #778488, #a3afb1, #d2dbdb);
}
.contact .contact-vector {
    min-width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact .contact-vector .vector-image {
    width: 100%;
    height: 20rem;
    background: url('/images/vector_contact.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-title {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 45%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-head {
    font-weight: bold;
    font-size: 30px;
    color: #fff;
}
.contact-title .bar {
    background-color: #fff !important;
    animation: Slide_From_Left;
}
.contact-body {
    text-align: center;
    background: #252934;

    width: 100%;
    margin-top: -2px;
    padding-bottom: 2rem;
}
.contact-body .form-title {
    font-size: 15px;
    color: #08c096;
    text-align: center;
}
.contact-section {
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: row;
}
.form-image {
    width: 50em;
    display: flex;
    height: 40em;
    align-items: center;
}
.form-image img {
    width: 100%;
}
.form {
    background: #fff;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 50px;
    width: 500px;
    box-shadow: -5px 15px 20px rgba(0, 0, 0, 0.1);
}
form {
    padding: 50px 40px;
    width: 100% !important;
    height: 100%;
}
form input {
    height: 50px;
}
form input,
form textarea {
    box-shadow: -5px 15px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: none;
    margin-top: 20px;
    border-radius: 8px;
}
textarea::placeholder,
input::placeholder {
    font-family: 'Poppins';
}
form input:focus,
form textarea:focus {
    border: 2px solid #08c096;
}

form textarea {
    height: 120px;
}

form button {
    width: 40%;
    padding: 10px 10px;
    margin-top: 20px;
    color: white;
    background: #08c096;
    border-radius: 8px;
    border: none;
    outline: none;
    transition: all;
}
form button:hover {
    cursor: pointer;
    border: 2px solid #08c096;
    background: none;
    color: #000;
}
.slidefromleft {
    animation: Slide_From_Left;
    animation-duration: 2s;
}
/* Footer */
.footer {
    padding: 2rem 4rem;
    background-color: #60b7f6;
    color: #fafafa;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer-content-brand {
    margin-bottom: 3rem;
    height: 100px;
    width: 100px;
}

.footer-content-brand img {
    max-width: 80%;
}
.footer .paragraph {
    color: inherit;
    width: 100%;
}

.footer-heading {
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.social-media-wrap {
    margin-left: 2rem;
}

.social-media {
    display: flex;
}
footer i {
    color: white;
}
.sa-link {
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    border: 2px solid #252934;
    border-radius: 50%;
    display: flex;
    margin-right: 1rem;
    transition: background-color 0.5s;
}

.sa-link:hover {
    background-color: #252934;
    color: var(--dark-color);
}

.sa-link i {
    margin: auto;
}

/* ............................SKills.............................. */
.skills {
    background: #252934;
    overflow: hidden;
}

/* ---Alert---- */
.alert {
    position: absolute;
    margin: 0 auto;
    top: 10px;

    width: 15rem;
}
.alert-container {
    position: relative;
    min-width: 100%;
    height: 100%;
    color: #fff;
    padding: 10px 15px;

    display: flex;
}

.success {
    width: 120px;
    background-color: #08c096;
}

.error {
    width: 120px;
    min-height: 100%;

    background-color: #ce3a46;
}

/* .........................Projects.............. */
.projects {
    padding: 2rem 0;
    position: relative;
    width: 100%;
    background-color: #252934;

    /* min-height: fit-content; */
}

.projects::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(20% at right 70%);
}
.projects::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(#2196f3, #e91e63);
    clip-path: circle(20% at 10% 10%);
}

.project-title {
    margin-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    z-index: 1;
}
.project-head {
    font-weight: bold;
    font-size: 30px;
    z-index: 1;
}
.project-bar {
    height: 3px;
    width: 30px;
    background: #fff !important;
    z-index: 1;
}
.pcontainer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30px;
}

.plink button {
    margin-top: 10px;
    outline: none;

    border: none;
    background: #60b7f6;
    color: #fff;
    padding: 15px 15px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.plink button:hover {
    background-color: #2a363f;
}
.projectToggle {
    position: absolute;
    bottom: 5px;
    right: 3vw;
    background: none;
    outline: none;
    border: none;
    text-decoration: underline;
    color: #fff;
    cursor: pointer;
    font-size: 1.4rem;
}
/* .section-head {
  animation: slideFromRight 1s ease-in 0s 1 forwards;
} */
/* ---------------------------- animations------------------------------*/
/* @keyframes slideFromRight {
  0% {
    margin-left: -50vw;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
} */

/*  -------------------------GLASS_CARD--------------- */

.cardContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 1200px; */
    flex-wrap: wrap;
    z-index: 10 !important;
}

.cardContainer .card {
    position: relative;
    width: 400px;
    height: 450px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(56, 16, 16, 0.05);
    border-left: 1px solid rgba(255, 255, 255, 0.05);
    z-index: 10;
    backdrop-filter: blur(5px);
}

.cardContainer .card .cardContent {
    margin-top: 0px;
    transform: translateY(100px);
    opacity: 0;
    margin-top: 40px;
    padding: 30px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardContainer .card:hover .cardContent {
    transform: translateY(0px);
    opacity: 1;
}
.cardContainer .card:hover .nameFront {
    display: none;
}
.card .nameFront {
    position: absolute;
    text-align: center;
    font-size: 4em;
    color: rgba(255, 255, 255, 0.2);
    pointer-events: none;
    z-index: 10;
    max-width: 100%;
}
.cardContent h2 {
    position: absolute;
    text-align: center;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}
.cardContent h3 {
    text-align: center;
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}
.cardContent p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

.cardContent a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/* --------------------------------------------------Breakpoints--------------------------------------------------------- */
@media screen and (max-width: 321px) {
    .skillname {
        font-size: smaller;
    }
    .social-container {
        gap: 3rem;
    }

    .social-container i {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 768px) {
    /* .card {
    min-width: 400px;
    height: 315px;
  }
  .imgBx {
    width: 360px;
    height: 300px;
  } */
}
@media screen and (max-width: 768px) {
    /* For card */
    .bubbles-wrapper {
        width: 100vw;
    }
    .bubbles {
        width: 100%;
    }

    .nav-collection {
        position: absolute;
        width: 50%;
        height: 100%;
        background: #fff;
        right: 0;
        top: 0;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 10;
        margin-left: -50vw;
        max-height: 100vh;
    }
    .nav-item .nav-link {
        margin-left: 1000px;
        transition: all 5s ease-in-out;
    }
    .nav-collection.active > .nav-item .nav-link {
        margin-left: 0px !important;
    }

    .header-content .buttons {
        flex-direction: column;
    }

    .header-content .buttons {
        margin-top: 10px;
    }
    .header-content .buttons :last-child {
        margin-left: 0;
        margin-top: 10px;
    }

    .nav-collection.active {
        min-height: 100vh;
        transition: all 0.5s ease-in;

        display: flex;

        margin-left: 0;
    }

    .nav-collection.active > .fa-times {
        display: block;
    }
    .backdrop {
        display: none;
    }
    .hamburger-menu {
        display: block;
    }

    .fa-times {
        position: absolute;
        top: 20px;
        left: 20px;
        transition: all 0.5s ease-in;
    }
    .fa-times:hover {
        transform: rotate(90deg);
        cursor: pointer;
    }

    .fa-bars:hover {
        cursor: pointer;
    }

    .nav-collection.active ~ .backdrop {
        display: block;
    }

    /* .nav-item {
    margin: 0 !important;
  } */
    .nav-item:not(:last-child) {
        margin-bottom: 30px;
    }
    .nav-link {
        color: #08c096;
        font-size: 5vw;
    }
    .nav-link ~ div {
        display: none;
    }
    .brand-logo {
        width: 10vw;
        height: 7vw;
    }
    .my-image-container {
        width: 250px;
        height: 340px;
    }
    .my-image-container img {
        width: 100%;
        height: 100%;
    }
    .header-content {
        padding-top: 40px;
    }

    .header-content .firstLine {
        font-size: 75px;
    }

    .header-content .secondLine {
        font-size: 73px;
    }
    .header-content button {
        width: 250px;
        height: 60px;
        font-size: 20px;
    }
    .specializations {
        background: #f9f9f9;
    }
    .layer {
        display: none;
    }
    .specializations .container {
        padding-top: 70px;
    }
    .section-title {
        line-height: 1.5;
    }

    .section-subhead {
        font-weight: 500;
        font-size: 22px;
        color: #08c096;
    }
    .section-head {
        font-size: 40px;

        color: #2a363f;
    }

    .section-content .field .icon {
        min-width: 158px;
        height: auto;
    }
    .section-content .field .icon div {
        max-width: 100%;
        height: 90%;
    }

    .field-title {
        font-weight: 400;
        font-size: 25px;

        color: #000000;
    }
    .field-description {
        font-size: 15px;
        color: #000;
    }
    .field-content {
        margin-top: 10px;
    }

    .about-content {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-between;
        grid-gap: 1rem;
        margin-top: 30px;
    }
    .about-left {
        justify-content: center;
    }

    .skillset {
        height: 2.7rem;
    }
    #about {
        align-items: center;
        padding-bottom: 2rem;
    }
    #about .container {
        margin: 0 2rem !important;
    }
    .specializations .container {
        margin: 0 4rem;
    }
    .form {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .footer-content {
        flex-direction: column;
        justify-content: center;
    }
    .footer-content-brand img {
        width: 30vw;
    }
    .social-media-wrap {
        margin-left: 0;
        margin-top: -2rem;
    }
}

@media screen and (max-width: 1080px) {
    .form-image {
        display: none;
    }

    form {
        min-width: 70% !important;
        height: 100%;
    }
    .form {
        right: initial;
        top: 0;
    }
    .contact-section {
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 680px) {
    .my-image-container {
        width: 230px;
        height: 230px;
    }
    .header-content {
        padding-top: 30px;
    }

    .header-content .firstLine {
        font-size: 65px;
    }

    .header-content .secondLine {
        font-size: 63px;
    }

    .form {
        width: 70%;
        right: 0;
        position: initial;
    }
    form {
        max-width: 100%;
    }
}

@media screen and (max-width: 426px) {
    .social-container {
        gap: 4rem;
    }

    .social-container i {
        font-size: 3rem;
    }

    .cardContainer .card {
        width: 90%;
    }
    .cardContainer {
        margin-right: 30px;
    }
    #header {
        margin-top: 0;
    }
    .container {
        margin: 0 10px;
    }
    .brand-logo {
        width: 15%;
        height: auto;
    }
    .my-image-container {
        width: 200px;
        height: 200px;
    }
    .header-content {
        padding-top: 40px;
    }
    .hire-link {
        display: block;
    }
    .header-content .firstLine {
        font-size: 55px;
    }

    .header-content .secondLine {
        font-size: 53px;
    }
    .form {
        min-width: 90vw !important;
    }
    form {
        padding: 30px 20px;
    }

    .container {
        margin: 0 10px;
    }
    .nav-collection {
        width: 70vw;
    }
    .nav-link {
        font-size: 30px;
    }
    .fa-bars {
        font-size: 30px;
    }
    .header-content .buttons .hire-btn {
        display: none;
    }
    .hire-link {
        display: block;
    }
    .header-content .buttons .arrow-btn {
        width: 220px;
        font-size: 20px;
    }
    .header-content .buttons .arrow-btn img {
        display: none;
    }
    .section-content {
        width: 20rem;
    }
    #header .container {
        padding-bottom: 30px;
    }
    .about-text-head {
        font-weight: 500;
        font-size: 30px;
    }

    .about-text {
        font-size: 0.8rem;
    }
    .hire-link {
        display: block;
    }

    .sa-link {
        height: 3rem;
        padding: 5px;
    }
    .footer-content-brand {
        margin-bottom: 2rem;
    }

    .social-media-wrap {
        margin-top: 0;
    }
    .social-media {
        height: 90%;
    }
    .sa-link i {
        font-size: 20px;
    }
    .footer {
        padding: 1rem 1rem;
    }

    .footer-content {
        width: 100%;
        padding: 0;
    }
}

/* Animations */
.animation85 {
    animation: Animation85;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
.animation60 {
    animation: Animation60;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
.animation65 {
    animation: Animation65;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
.animation70 {
    animation: Animation70;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes Slide_From_Left {
    0% {
        margin-left: -100%;
    }
    100% {
        margin-left: 0;
    }
}

@keyframes Animation85 {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}
@keyframes Animation65 {
    0% {
        width: 0%;
    }
    100% {
        width: 55%;
    }
}
@keyframes Animation70 {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}
@keyframes Animation60 {
    0% {
        width: 0%;
    }
    100% {
        width: 45%;
    }
}
